/bin/
/target/
/.settings/
/.classpath
/.project
/app_log-10-24-2014.log
/app_log.log
/.apt_generated/
/app_log-10-30-2014.log<<<<<<< .mine/target/
=======>>>>>>> .theirs
/app_log-11-10-2014.log
